
:root{
    --white-color:  #ffffff;
    --margin-gap: 1rem;
    --left-indent: 11rem;
}

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{   
    background-image: url(../images/BackgroundIamge.png);
}

header, footer{
    display: block;
    background-color:#096594;
    padding: var(--margin-gap);
}

footer{
    text-align:  center;
}

header h1{
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white-color);
}

header nav{
    text-align: right;
    float: right;
}

header li{
    display: inline;
    padding: 0 20px;
    line-height: 2rem;   
}

header a{
    text-decoration: none;
    font-weight: 600;
    color:var(--white-color);
}

.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo img{
    flex: 0 0 var(--left-indent);
    margin-right: var(--margin-gap);
}

.about-me, .my-work, .contact-me, .resume{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--margin-gap);
}

.photo h2{
    flex: 1;
    text-align: justify;
    font-size: 1.5rem;
}

.about-me-text, .contact-me-text, .resume-text{
    flex: 1;
    text-align: justify;
}

.about-me-header, .my-work-header, .contact-me-header, .resume-header{
    flex: 0 0 var(--left-indent);
    margin-right: var(--margin-gap);
    font-size: 1.5rem;
    text-align: right;
    border-right: black solid 0.25rem;
    padding-right: 1rem;
}

.resume img{
    margin-top: 1rem;
    height: 2rem;
}

.all-projects{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-project{
    /* flex: 0 0 inherit;
    max-width: inherit; */
    width: 100%;
}

.other-projects{
    flex: 0 0 50%;
    max-width: 50%;
}

@media screen and (max-width: 768px){

    header h1{
        display: block;
        text-align: center;
    }

    header nav{
        text-align: center;
        float: none;
    }

    header li{
        display: block;
    }

    .photo, .about-me, .my-work, .contact-me, .resume{
        flex-direction: column;
        display: block;
        justify-content: center;
    }

    .photo img{
       display: block;
       margin: 0 auto;
    }

    .about-me-header, .my-work-header, .contact-me-header, .resume-header{
        display: block;
        margin: 0 auto;
        text-align: center;
        border-right: none;
     }

     .main-project, .other-projects{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

