
:root{
    --white-color:  #ffffff;
    --margin-gap: 1rem;
    --left-indent: 11rem;
}

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{   
    background-image: url(../images/BackgroundIamge.png);
}

header, footer{
    display: block;
    background-color:#096594;
    padding: var(--margin-gap);
}

footer{
    text-align:  center;
}

header h1{
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white-color);
}

header nav{
    text-align: right;
    float: right;
}

header li{
    display: inline;
    padding: 0 20px;
    line-height: 2rem;   
}

header a{
    text-decoration: none;
    font-weight: 600;
    color:var(--white-color);
}

.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo img{
    flex: 0 0 var(--left-indent);
    margin-right: var(--margin-gap);
}

.photo h2{
    flex: 1;
    text-align: justify;
    font-size: 1.5rem;
}

@media screen and (min-width:769px){

}

@media screen and (max-width: 768px){

    header h1{
        display: block;
        text-align: center;
    }

    header nav{
        text-align: center;
        float: none;
    }

    header li{
        display: block;
    }

    .main-project, .other-projects{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .photo{
        flex-direction: column;
        display: block;
        justify-content: center;
    }

    .photo img{
       display: block;
       margin: 0 auto;
    }
}

