:root{
    --white-color:  #ffffff;
    --margin-gap: 1rem;
    --left-indent: 11rem;
    --border-thickness: 0.25rem
}

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color:var(--white-color);
}

body{   
    background-image: url(../images/BackgroundIamge-2.png);
    color:#ffffff;
}

header, footer{
    display: block;
    background-color:#096594;
    padding: var(--margin-gap);
}

footer{
    text-align:  center;
}

header h1{
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
}

header nav{
    text-align: right;
    float: right;
}

header li{
    display: inline;
    padding: 0 20px;
    line-height: 2rem;   
}

header a{  
    font-weight: 600;
}

.text-decoration{
    text-decoration: none;
}

.line-height{
    line-height: 2rem;
}

.photo-section, .about-me, .contact-me, .resume{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--margin-gap);
}

.photo, .about-me-header, .contact-me-header, .resume-header{
    flex: 0 0 var(--left-indent);
    margin-right: var(--margin-gap); 
}

.about-me-header, .contact-me-header, .resume-header{
    padding-right: 1rem;
    border-right: var(--white-color) solid var(--border-thickness);   
}

.photo-text, .about-me-text, .contact-me-text, .resume-image{
    flex: 1;
    text-align: justify;
}

.contact-me-text li{
    height: 2rem;    
}

.contact-me-text div li{
    display: inline;
}

.symbol {
    height: 2rem;
    float: left;
    padding: 0.25rem;
}

/* 
.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo img{
    flex: 0 0 var(--left-indent);
    margin-right: var(--margin-gap);
}

.about-me, .my-work, .contact-me, .resume{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--margin-gap);
}

.photo h2{
    flex: 1;
    text-align: justify;
    font-size: 1.5rem;
}

.about-me-text, .contact-me-text, .resume-pdf{
    flex: 1;
    text-align: justify;
}

.contact-me-text li{
    height: 2rem;    
}

.about-me-header, .my-work-header, .contact-me-header, .resume-header{
    flex: 0 0 var(--left-indent);
    margin-right: var(--margin-gap);
    font-size: 1.5rem;
    text-align: right;
    border-right: var(--white-color) solid 0.25rem;
    padding-right: 1rem;
}

.contact-me-text img, .resume img{
    height: 2rem;
    float: left;
    padding: 0.25rem;
}

.contact-me-text span, .contact-me-text a{
    line-height: 2rem;
    text-decoration: none;
    color:var(--white-color);
}

.contact-me-text div{
    float: left;;
}

.contact-me-text div li{
    display: inline;
}

.all-projects{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-project{
    width: 100%;
}

.other-projects{
    flex: 0 0 50%;
    max-width: 50%;
} */

@media screen and (max-width: 768px){

    header h1{
        display: block;
        text-align: center;
    }

    header nav{
        text-align: center;
        float: none;
    }

    header li{
        display: block;
    }

    .photo-section, .about-me, .contact-me, .resume{
        flex-direction: column;
    }

    .center-content{
        width: fit-content;
        flex: 0 0;
        margin: 0 auto;
        border-right: none;
    }

    .about-me-header, .contact-me-header, .resume-header{
        padding-right: 0;
        margin-top: var(--margin-gap);
        border-bottom: var(--white-color) solid var(--border-thickness);  
    }

    .photo-text, .about-me-text, .contact-me-text, .resume-image{
        margin-top: var(--margin-gap);
    }

    /* .photo, .about-me{
        flex-direction: column;
        flex: none;
        justify-content: center;
    }

    .photo img{
       display: block;
       margin: 0 auto;
    }

    .about-me-header{
        display: block;
        margin: 0 auto;
        text-align: center;
        border-right: none;
        padding: 0;
     } */

     /* .resume img{
        float: none;
        display: block;
        margin: 0 auto;
     }

     .main-project, .other-projects{
        flex: 0 0 100%;
        max-width: 100%;
    } */
}

