
:root{
    --white-color:  #ffffff;
    --padding-top: 1rem;
    --paddding-left: 1rem;
    --left-indent: 11rem;
    --about-me-height: 6rem;
    --margin-gap: 1rem;
}

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{   
    background-image: url(../images/BackgroundIamge.png);
}

header, footer{
    display: block;
    background-color:#096594;
    padding: var(--margin-gap);
}

footer{
    text-align:  center;
}

header h1{
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white-color);
}

header nav{
    text-align: right;
    float: right;
}

header li{
    display: inline;
    padding: 0 20px;
    line-height: 2em;   
}

header a{
    text-decoration: none;
    font-weight: 600;
    color:var(--white-color);
}

.photo{
    height: 12rem;
    padding-top: var(--padding-top);
    padding-left: var(--paddding-left);
}

.photo img{
    float: left; 
    width: var(--left-indent);
    margin-right: var(--margin-gap);
}

.photo h2{
    display: inline;
    font-size: 1.5rem;
}

.about-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: var(--about-me-height);
    padding-top: var(--padding-top);
    padding-left: var(--paddding-left);
}

.about-me-header{
    height:  var(--about-me-height);
    line-height: var(--about-me-height);
    width: var(--left-indent);
    margin-right: var(--margin-gap);
    font-size: 1.5rem;
    text-align: right;
    
}

@media screen and (max-width: 768px)
{
    .about-me-header {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        border-right: none;
    }

    .about-me-text{
        flex: 0 0 100%;
        max-width: 100%;
    }

    header h1{
        display: block;
        text-align: center;
    }

    header nav{
        text-align: center;
        float: none;
    }

    header li{
        display: block;
    }
}