
:root{
    --white-color:  #ffffff;
    --padding-top: 1rem;
    --paddding-left: 1rem;
    --left-indent: 11rem;
    --about-me-height: 6rem;
    --my-work-height: 102rem;
    --contact-me-height: 8rem;
    --resume-height: 8rem;
    --resume-header-height: 7rem;
    --margin-gap: 1rem;
}

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{   
    background-image: url(../images/BackgroundIamge.png);
}

header, footer{
    display: block;
    background-color:#096594;
    padding: var(--margin-gap);
}

footer{
    text-align:  center;
}

header h1{
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white-color);
}

header nav{
    text-align: right;
    float: right;
}

header li{
    display: inline;
    padding: 0 20px;
    line-height: 2rem;   
}

header a{
    text-decoration: none;
    font-weight: 600;
    color:var(--white-color);
}

.photo{
    height: 12rem;
    padding-top: var(--padding-top);
    padding-left: var(--paddding-left);
}

.photo img{
    float: left; 
    width: var(--left-indent);
    margin-right: var(--margin-gap);
}

.photo h2{
    display: inline;
    font-size: 1.5rem;
}

.about-me{
    /* height: var(--about-me-height); */
    margin-top: var(--padding-top);
    padding-left: var(--paddding-left);
}

.about-me-header{
    float: left;
    /* height:  var(--about-me-height); */
    /* line-height: var(--about-me-height); */
    width: var(--left-indent);
    margin-right: var(--margin-gap);
    font-size: 1.5rem;
    text-align: right;
    border-right: black solid 0.25rem;
    padding-right: 1rem;
}

.about-me-text{
    display: inline;
    text-align: justify;
}

.my-work{
    /* height: var(--my-work-height); */
    margin-top: var(--padding-top);
    padding-left: var(--paddding-left);
}

.my-work-header{
    float: left;
    /* height:  var(--my-work-height); */
    /* line-height: var(--my-work-height); */
    width: var(--left-indent);
    margin-right: var(--margin-gap);
    font-size: 1.5rem;
    text-align: right;
    border-right: black solid 0.25rem;
    padding-right: 1rem;
}

.all-projects{
    display: inline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-project img{
    width: 95%;
    margin: 1rem;
}

.other-projects img{
    width: 95%;
    margin: 1rem;
}

.contact-me{
    /* height: var(--contact-me-height); */
    margin-top: var(--padding-top);
    padding-left: var(--paddding-left);
}

.contact-me-header{
    float: left;
    /* height:  var(--contact-me-height); */
    /* line-height: var(--contact-me-height); */
    width: var(--left-indent);
    margin-right: var(--margin-gap);
    font-size: 1.5rem;
    text-align: right;
    border-right: black solid 0.25rem;
    padding-right: 1rem;
}

.contact-me-text{
    display: inline;
}

.resume{
    /* height: var(--resume-height); */
    margin-top: var(--padding-top);
    padding-left: var(--paddding-left);
}

.resume-header{
    float: left;
    /* height:  var(--resume-header-height); */
    /* line-height: var(--resume-header-height); */
    width: var(--left-indent);
    margin-right: var(--margin-gap);
    font-size: 1.5rem;
    text-align: right;
    border-right: black solid 0.25rem;
    padding-right: 1rem;
}

.resume-text{
    display: inline;
}

.resume img{
    margin-top: 1rem;
    height: 2rem;
}

@media screen and (max-width: 768px){

    .about-me-header, .my-work-header, .contact-me-header, .resume-header{
        display: block;
        float: none;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        border-right: none;  
        height: 1rem;
        line-height: 1rem;
    }

    .about-me-text{
        display: block;
    }

    .resume h3{
        height: 2rem;
    }

    header h1{
        display: block;
        text-align: center;
    }

    header nav{
        text-align: center;
        float: none;
    }

    header li{
        display: block;
    }

    .main-project, .other-projects{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width:769px){

    .main-project{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .other-projects{
        flex: 0 0 50%;
        max-width: 50%;
    }
}